:host {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

::ng-deep om-aurora {
    display: block;
    width: 100%;
    height: 100%;
}

/* Ensure any internal containers also fill space */
::ng-deep .om-aurora-container,
::ng-deep om-aurora>div {
    width: 100% !important;
    height: 100% !important;
}