<div class="h-auto lg:h-[35rem] overflow-y-visible lg:overflow-y-auto no-scrollbar flex flex-col lg:flex-row justify-center relative space-y-10 lg:space-y-0 lg:space-x-10 rounded-md p-6 md:p-10"
    #scrollContainer [class]="contentClassName" data-lenis-prevent>

    <div class="relative flex items-start px-4 w-full lg:w-auto">
        <div class="max-w-2xl">
            @for (item of content; track item.title; let index = $index) {
            <div class="my-12 lg:my-24 content-block transition-opacity duration-300"
                [style.opacity]="activeCard === index ? '1' : (isMobile ? '0.5' : '0.2')">
                <h3 class="mb-4 md:text-5xl lg:text-6xl font-black">
                    {{ item.title }}
                </h3>
                <p class="max-w-sm leading-relaxed font-bold text-lg md:text-xl">
                    {{ item.description }}
                </p>

                <!-- Mobile & Tablet Image -->
                <div class="lg:hidden mt-6 w-full h-72 rounded-xl overflow-hidden shadow-lg p-2"
                    [style.background]="linearGradients[index % linearGradients.length]">
                    @if (item.image) {
                    <img [src]="item.image" [alt]="item.title" class="h-full w-full object-contain" />
                    } @else {
                    <div class="flex h-full w-full items-center justify-center text-white font-bold text-2xl">
                        {{ item.title }}
                    </div>
                    }
                </div>
            </div>
            }
            <div class="lg:h-[15rem] lg:block hidden"></div>
        </div>
    </div>

    <div class="hidden lg:block h-[30rem] w-[30rem] rounded-2xl bg-white sticky top-10 overflow-hidden shadow-2xl transition-colors duration-500"
        [style.background]="linearGradients[activeCard % linearGradients.length]">

        <div class="h-full w-full flex items-center justify-center text-white transition-opacity duration-300">
            @if (content[activeCard].image) {
            <img [src]="content[activeCard].image" [alt]="content[activeCard].title"
                class="h-full w-full object-cover shadow-2xl" />
            } @else {
            <div class="flex h-full w-full items-center justify-center text-white text-3xl font-bold">
                {{ content[activeCard].title }}
            </div>
            }
        </div>
    </div>
</div>